<!-- <h1>Questions#answer</h1> -->
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="question" ><%= @questions %>
  <p>-You</p>
</div>

<div class="answer"><%= @answer %>
  <p>-Your coach</p>
</div>
<%= link_to "Ask a new question", ask_path  %>
